V
{
	margin: 0;
	padding: 0;
}
header
{
	background-image:url(music.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.main-nav 
{
float: right;
list-style: none;
margin-top: 30px;
}
.main-nav li
{
	display: inline-block;
}
.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Comic sans MS";
	font size: 15px;
}
.main-nav li a:hover
{
	border: 1px solid white;
}
.logo1 img
{
	width: 200;
	height: auto;
	float: left;
}
.row
{
	max-width: 1200px;
	margin: auto;
}
.hero
{
	position: absolute;
	width:400px;
	margin-left: 450;
	margin-top: 10; 
}
 h1
{
	color: white;
	text-transform: uppercase;
	font-size: 35px;
	text-align: center;
	margin-top: 450px;
}
.button
{
	margin-top: 10;
	margin-left: 90; 
}
.btn
{
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	text-transform: uppercase;
}
.btn-one
{
	font-family: default;
	background-color: transparent;
}
.btn-two
{
	font-family: default;
	background-color: transparent;
}
.btn-two:hover
{
	background-color: orange;
	transition: all 0.5s ease-in;
}
.btn-one:hover
{
	background-color: orange;
	transition: all 0.5s ease-in;
}






















