V
{
	margin: 0;
	padding: 0;
}
header
{
	background-image:url(sajal.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.logo1 img
{
	width: 200;
	height: auto;
	float: left;
}
.row
{
	max-width: 1200px;
	margin: auto;
}
.hero
{
	position: absolute;
	width:400px;
	margin-left: 450;
	margin-top: 10; 
}
 h1
{
	color: white;
	text-transform: uppercase;
	font-size: 35px;
	text-align: center;
	margin-top: 450px;
}
